# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Web/node_modules
/Web/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!/Web/.yarn/plugins
!/Web/.yarn/releases
!/Web/.yarn/versions

# testing
/Web/coverage

# next.js
/Web/.next/
/Web/out/

# production
/Web/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next-dev.log

# env files (can opt-in for committing if needed)
Web/.env
!.env.example

# vercel
/Web/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


